@tailwind base;
@tailwind components;
@tailwind utilities;

body, input, button, select, textarea, span, h1, h2, h3, h4, h5, h6, p, a, div {
    font-family: 'Inter', sans-serif !important;
}
@layer utilities {
  .animate-slide-up {
    animation: slideUp 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    opacity: 0; /* Ẩn đi trước khi load */
  }
  /* độ trễ */
  .delay-100 { animation-delay: 100ms; }
  .delay-200 { animation-delay: 200ms; }
  .delay-300 { animation-delay: 300ms; }
  .delay-400 { animation-delay: 400ms; }
  .delay-500 { animation-delay: 500ms; }
}
/* hiệu ứng vào*/
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); 
  }
}